@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body,
ul,
li,
div,
section {
  margin: 0;
  padding: 0;
  font: 14px;
}
body {
  width: 100%;
  height: 100%;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}
#container {
  width: 100%;
  background: cornsilk;
  margin: 0 0 250px 0;
  padding: 10% 0;
  z-index: 1;
  top: 100%;
  left: 0;
  position: absolute;
}
