#image_content {
  height: auto;
  width: 100%;
}
#image_content ul {
  width: 84%;
  height: auto;
  margin: 0 8%;
  padding: 0;
  float: left;
}
#image_content ul li {
  float: left;
  cursor: pointer;
  position: relative;
}
#image_content ul li img:hover {
  width: 99.8%;
}
