@charset "utf-8";
@media screen and (max-width:767px){
    section>#image_content ul{
	width: 100%;
    margin: 0;
    }
    section>#image_content ul>li{
	width: 100%;
    }
    section>#image_content >ul>li>img{
	width: 100%;
    }
	#m_footer{
		height:230px;
	}
	#m_footer .row>div:nth-of-type(2){
		margin-top: 30px;
	}
	#h_container>div{
		margin-top: 90%;
	}
	#code_stock span{
		font-size: 1.5rem;
		letter-spacing: 5px;
	}
	#container{
		min-height:1800px;
		background: cornsilk;
		z-index: 10;
	}
	#nav-banner{
		top:0; 
		z-index: 15;
		height: 100%;
		width: 100%;
		margin:0;
		padding: 0;
	}
	#nav-banner>div{
		height: 100%;
		margin:0;
		padding: 0;
	}
	#nav-banner #mynav{
		height: 100%;
		position: absolute;
		top: 0;
		margin:0;
		padding: 0;
	}
	#nav-banner #mynav>.row{
		height:100%;
		margin:0;
		padding: 0;
	}
	#nav-banner #mynav li{
		height: 50%;
		background: rgb(41, 40, 41);
	}
	#nav-banner #mynav li a{
		display:block;
		height: auto;
		position: relative;
		top: 50%;
		margin-top: -45px;
		margin-left:11%; 
		width: 78%;
	}
	#nav-banner #mynav li {
		overflow-y: hidden;
	}
	#nav-banner #mynav li:nth-of-type(1) {
		border-right:1px solid rgba(214, 214, 214,.7);
		border-bottom:1px solid rgba(214, 214, 214,.7) ;
	}
	#nav-banner #mynav li:nth-of-type(2) {
		border-bottom:1px solid rgba(214, 214, 214,.7) ;
	}
	#nav-banner #mynav li:nth-of-type(3) {
		border-right:1px solid rgba(214, 214, 214,.7) ;
	}
	#nav-banner .navbar-header a{
		margin-top: 5%;
		position: fixed;
		border-radius: 50%;
		left:50%;
		margin-left: -23px;
		width: 46px;
		height: 46px;
		padding: 14px 20px 0px 10px ;
		background: transparent;
	}
	#nav-banner .navbar-header a .icon-bar{
		background: gainsboro;
	}
	#mynav_toggle{
		height:auto;
	}
	.number>b{
		display: none;
	}
	.number~span{
		text-align: center;
		font-size: 20px;
	}
	#nav-banner{
		top:0;
	}
}
@media screen and (min-width:768px){
	#nav-banner{margin: 0 10%;}
	#nav-banner ul li{
	height:95px;
}
.number~span{
		margin-left: -15%;
		width: 75%;
		font-size: 1.7rem;
		text-align: left;
}
.number{
	    width: 80%;
}
#nav-banner ul li{
	width: 25%;
	padding-left: 9%;
}
    #logo{
        width: 80%;
        margin-left:10%;
    }
    #image_content ul:first-child>li {
	width: 50%;
}
#image_content ul:first-child>li img{
	width:100%;
	height: auto;
	display: block;
}
#image_content ul:nth-child(2)>li:first-child{
	width: 60%;
	height: auto;
}
#image_content ul>li img{
	display: block;
}
#image_content ul:nth-child(2)>li:first-child img{
	height: auto;
	width: 100%;
}
#image_content ul:nth-child(2)>li:nth-child(2){
	width: 40%;
}
#image_content ul:nth-child(2)>li:nth-child(2) img{
	width: 100%;
	height: auto;
}
#image_content ul:nth-child(3)>li:nth-child(1) {
	width: 40%;
	height: auto;
}
#image_content ul:nth-child(3)>li:nth-child(1) img {
	width: 100%;
	height: auto;
}
#image_content ul:nth-child(3)>li:nth-child(2) {
	width: 60%;
	height: auto;
}
#image_content ul:nth-child(3)>li:nth-child(2) img {
	width: 100%;
	height: auto;
}
#image_content ul:nth-child(4)>li:nth-child(1) {
	width:60%;
	height: auto;
}
#image_content ul:nth-child(4)>li:nth-child(1) img{
	width: 100%;
	height: auto;
}
#image_content ul:nth-child(4)>li:nth-child(2) {
	width: 40%;
	height: auto;
}
#image_content ul:nth-child(4)>li:nth-child(2) img {
	width: 100%;
	height: auto;
}
#image_content ul:last-child>li:nth-child(1) {
	width: 50%;
	height: 100%;
}

#image_content ul:last-child>li:nth-child(1) img {
	width: 100%;
	height:auto;
}

#image_content ul:last-child>li:nth-child(2) {
	width: 50%;
	height: auto;
}

#image_content ul:last-child>li:nth-child(2) img {
	width: 100%;
	height: auto;
	}
	
}
@media screen and (min-width:992px){
    
    #logo{
        width: 60%;
        margin-left:20%;
    }
}
@media screen and (min-width:1200px){
    #nav-banner{
        display:block;
    }
}